*{
    margin: none;
    padding: 0;
    box-sizing: border-box;
  }

  .Landing-container{
    background-color: var(--black-shade);
    height: 93vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .Landing-hero-content{
    letter-spacing: 20px;
    font-size: 200px;
    font-family: 'Crackvetica';
    transform: translateX(50px);
    color: var(--white-shade);
  }

