@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
*{
    overflow: none;
}

.About-container{
    display: flex;
    height: 100vh;
    background-color: var(--black-shade);
    overflow: hidden;
    color: var(--white-shade);
}
.About-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5vh;
    align-self: center;
    margin-left: 3vw;
    margin-right: 4vw;
}

.About-left-heading{
    font-weight: 900;
    font-size: 40px;
    font-family: 'Roboto Mono', monospace;
}
.About-left-para{
    font-size: 1.4em;
    font-family: 'Roboto Mono', monospace;
    /* text-transform: uppercase; */
    font-weight: 500;
}
.About-right{
    flex:1;
}
#face{
    height: 100vh;
    width: 55vw;
}