@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
  cursor: none;
}
:root{
  --white-shade: #FFF5EE;
  --black-shade: #121212;
  --black-shade2: #16161D;
  --white: #fafafa;
  --blue: #1300ff;
  --cursor-color: #ff4b2b;

  --background: var(--black-shade);
  --accent: var(--white-shade);
}


@font-face {
  font-family: 'Break';
  src: url('./fonts/Break-Regular.woff2') format('woff2'),
      url('./fonts/Break-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Stretch Pro';
  src: url('./fonts/StretchProRegular.woff2') format('woff2'),
      url('./fonts/StretchProRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Crackvetica';
  src: url('./fonts/Crackvetica.woff2') format('woff2'),
      url('./fonts/Crackvetica.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


*{
  margin: none;
  padding: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  height: 1px;
  width: 0px;
  background: var(--background);
}

::-webkit-scrollbar-thumb {
  background: var(--accent);
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-corner {
  background: var(--background);
}
.App{
  top: 0;
  left: 0;
  position: absolute;
  width: 100vw;
  height: 100vh;
}
.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 5px;
  background: #ff416c; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ff416c, #ff4b2b); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ff416c, #ff4b2b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  transform-origin: 0%;
  border-radius: 50px;
  z-index: 1000;
}
.cursor{
  background: #ff416c; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ff416c, #ff4b2b); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ff416c, #ff4b2b);
  height: 32px;
  width: 32px;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000000000000;
}
@media only screen and (max-width: 1050px) {
  .cursor{
    height: 0;
    width: 0;
  }
}