@font-face {
  font-family: 'Break';
  src: url('./fonts/Break-Regular.woff2') format('woff2'),
      url('./fonts/Break-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


*{
  margin: none;
  padding: 0;
  box-sizing: border-box;
}